<h5>Box no <%= @number %>: <%= @value %></h5>
<p>
	Banker offers you for your chosen box: <%= @offer %> pounds<br>
	Do you accept the offer? Deal or not deal?
</p>
<form  class="mb-4" action="/deal" method="post" id="edit">
	yes
	<input type="radio" name="deal" value="1">
	no
	<input type="radio" name="deal" value="0" checked="checked">
    <input class="btn-info btn mt-2" type="submit" value="submit">
    <!-- <input type="hidden" name="_method" value="put" /> -->
</form>   
