<table>
<tr>
    <th>Player Name</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Player 1 is {%= $top5players.keys[0] %}</td>
    <td>{%= $top5players.values[0][0] %}</td>
  </tr>
  <tr>
    <td>Player 2 is {%= $top5players.keys[1] %}</td>
    <td>{%= $top5players.values[1][0] %}</td>
  </tr>
  <tr>
    <td>Player 3 is {%= $top5players.keys[2] %}</td>
    <td>{%= $top5players.values[2][0] %}</td>
  </tr>
  <tr>
    <td>Player 4 is {%= $top5players.keys[3] %}</td>
    <td>{%= $top5players.values[3][0] %}</td>
  </tr>
  <tr>
    <td>Player 5 is {%= $top5players.keys[4] %}</td>
    <td>{%= $top5players.values[4][0] %}</td>
  </tr>
</table>
